@tailwind base;

@tailwind components;

@tailwind utilities;

// Default Theme
//----------------------------------

@import "themes.scss";

// Base Components
//----------------------------------

@import "components/animation.scss";

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.h-screen-ios {
    height: -webkit-fill-available;
}
