:root {
    /* DISTRICT Brand - Monochrome Primary Scale */
    --color-primary-50: 247, 247, 247;
    --color-primary-100: 240, 240, 240;
    --color-primary-200: 229, 229, 229;
    --color-primary-300: 200, 200, 200;
    --color-primary-400: 113, 113, 130;
    --color-primary-500: 26, 26, 26;
    --color-primary-600: 15, 15, 15;
    --color-primary-700: 8, 8, 8;
    --color-primary-800: 5, 5, 5;
    --color-primary-900: 3, 3, 3;
}
